/* VARIABLES --------------------------------------------------------------------------------------------------------------- */
$bg-color: #272727;
$secondary-color: #ff652f;

/* RESET --------------------------------------------------------------------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* FUNCTIONS --------------------------------------------------------------------------------------------------------------- */
@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

/* MIXINS --------------------------------------------------------------------------------------------------------------- */
@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

/* BREAKPOINT MIXINS --------------------------------------------------------------------------------------------------------------- */
@mixin xml-view {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin sml-view {
  @media (min-width: 420px) {
    @content;
  }
}

@mixin md-view {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg-view {
  @media (min-width: 1120px) {
    @content;
  }
}

@mixin xl-view {
  @media (min-width: 1300px) {
    @content;
  }
}
