/* STYLE --------------------------------------------------------------------------------------------------------------- */
.projects {
  min-height: 100vh;

  &__title {
    padding: 24vh 0 2rem;
    background: linear-gradient(
        to right,
        rgba(39, 39, 39, 0.9),
        rgba(39, 39, 39, 0.3)
      ),
      url("../images/model-1.jpg") center top;
    background-size: cover;
    text-align: center;

    & > h1 {
      font-size: 2rem;
    }
  }

  &__wrapper {
    padding: 2.5rem;
    display: grid;
    grid-template-rows: repeat(6, auto);
    gap: 3rem;

    &__project {
      border-bottom: 5px solid $secondary-color;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-color: $secondary-color;
        bottom: 0;
        left: 0;
        height: 0;
        opacity: 0.8;
        width: 100%;
        @include transition-ease;
      }

      &:hover::after {
        height: 100%;
      }

      &:hover .preview__button,
      &:hover .github__button {
        opacity: 1;
      }

      & > img {
        height: 100%;
        width: 100%;
      }

      &__buttons {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include transition-ease;

        & > a {
          color: set-text-color(set-text-color($bg-color));
          opacity: 0;
          z-index: 1;
          @include transition-ease;
        }

        & > a:hover {
          color: set-text-color($bg-color);
        }
      }
    }
  }

  .end-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__social-icons {
      margin-bottom: 1rem;

      & > a {
        @include transition-ease;
      }

      & > a:hover {
        color: $secondary-color;
      }
    }

    & > footer {
      margin-bottom: 2rem;
    }
  }
}

/* LEARNINGS --------------------------------------------------------------------------------------------------------------- */
/* 1. Z INDEX: The problem -> when I was opening the NAV, the positioned elements of the projects page (each individual project) would remain on top of the nav.
That's because they are positioned. The solution -> instead to trying to z-index the nav (which a child element of the header), I z-indexed the header.
That's because each individual project is on the main section, while the nav is on the header section. So, I had to use the header. */
